pftool/bin
dmapilookup
dumpinode
testing
setstgpool
*.a
*.o
*.swp
*.pyc
*~
dsmerror.log
temp/
test*/
include
lib
build
*Makefile
*Makefile.in
*.m4autogen
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/pftool
stamp-h1
aclocal.m4
